body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



header {
    background-color: black;
    position: fixed; /*固定nav的位置 */
    display: flex;    /* 设置布局格式 */
    width: 100%;
    align-items: center; /* 上下居中 */
    justify-content: space-between; /* 设置水平分布 */
    top: 0px;
}

nav ul li {
    float: right;
    margin-right: 5px;
}

nav a {
    color: aliceblue;
}

h1 {
    color: aliceblue;
}

body{
    margin-top: 80px;
}


.description {
    background-color: #F1F1F1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
}

.description img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.description-p2 {
    margin-top: 20px;
    padding-bottom: 50px;
    clear: left;
}

.relationship {
    padding-left: 10%;
    padding-right: 10%;

}

.relationship h2 {
    padding-top: 50px;
}

.relationship img {
    float: right;
    width: 30%;
    height: 30%;
    padding-left: 20px;
    padding-top: 20px;
}

.relationship-p2 {
    padding-top: 100px;
    padding-bottom: 50px;
}

footer {
    display: block;
    background-color: #A9A9A9;
    height: 80px;
    text-align: center;
    line-height: 80px;
}



